<div class="contenedor">
    <div >
        <form [formGroup]="formLogin" (submit)="send()" class="login"> 
            <h1>Registro</h1><br>
            <input type="text" placeholder="Nombre Completo" id="name" formControlName="name"><br><br>
            <input type="text" placeholder="Usuario" id="user" formControlName="user"><br><br>
            <input type="email" placeholder="Correo" id="email" formControlName="email"><br><br>
            <input type="password" placeholder="Contraseña" id="pass" formControlName="pass"><br><br>
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>