/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Castoro&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-align: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: black;
    color: wheat;
}